* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4e4ba;
}
.container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
}
form {
  display: flex;
  flex-direction: column;
}
input, select, button {
  margin: 1rem 0;
  padding: 0.5rem;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
}
button {
  background-color: #af4d98;
  color: white;
  cursor: pointer;
}
.result {
  margin-top: 1rem;
  font-weight: bold;
}
.dropdown {
  display: flex;
  align-items: center;
}
.dropdown i {
  font-size: 1.5rem;
  margin: 0 1rem;
}

